Source: lliurex-freeradius
Section: admin
Priority: extra
Maintainer: Hector Garcia Huerta <lliurex_devel1@edu.gva.es>
Build-Depends: debhelper (>= 10), zero-dev, llxsrchelper, python3-poinstaller
Standards-Version: 4.1.2
Homepage: http://www.lliurex.net

Package: lliurex-freeradius
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: GUI to initialize freeradius service
 GUI to initialize freeradius service. Remote machine
 must have n4d-freeradius installed.
 
